.nocontentheader {
    padding: 2em;
    margin: 50;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    color: #FFFFFF;

    text-align: center;
}

.card{
    padding: 20px;
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    color: #FFFFFF;
    text-align: center;
    display: flex;
}

